<ion-view view-title="Comments">
  <ion-content>
    <div id="comments-header" class="row">
      <div class="col">Hi, I'm....<br>
      I need...</div>
      <div class="col"><a href="/#/app/profile"><img width="300px" src="../img/avatar.png"></a><br>John Doe</div>
    </div>
    <h1> Comments </h1>
      <div class="list list-inset">
        <div class="item">
          {{subject}} <br>
          <p class="comment-info">fdsafdasfasdf</p>
        </div>
        <div class="item">
          {{subject}} <br>
          <p class="comment-info">{{message}}</p>
        </div>
      </div>
  </ion-content>
</ion-view>
