<ion-view view-title="Feed">
  <ion-content>
    <!--<h2 class="text-center">What do you need?</h2>-->
    <div class="list list-inset">
      <label class="item item-input item-icon-right">
        <input type="text" placeholder="What do you need, and why?" ng-model="need.text" ng-click="expandNeedInput()">
        <i class="icon ion-arrow-right-c" ng-click="submitNeed()"></i>
      </label>
    </div>

    <div ng-hide="!isNeedInputExpanded">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Tags...">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Location">
        </label>
        <button class="button button-balanced" ng-click="submitNeed()">Add Need</button>
      </div>
    </div>

    <div>
      <div class="list list-inset">
        <h3 ng-click="refresh()">Recent Needs</h3>

        <div class="card" ng-click="needClickEvent(need._id)" ng-repeat="need in allNeeds | orderBy:'-'">
          <div class="item item-text-wrap item-icon-right">
            I'm {{getUser(need.user).name}}!<br>
            {{need.text}}
            <i class="icon ion-heart"></i>
          </div>
        </div>

    </div>
  </ion-content>
</ion-view>
