<ion-modal-view>
  <ion-header-bar>
<!-- log in and sign up buttons -->
      <div class="title login-btns">
        <button id="loginBtn" class="button" ng-class="{'button-positive':loginBtnStatus, 'button-light':!loginBtnStatus}"  ng-click="toggleLogin(true)">
          Log in
        </button>
        <button id="loginBtn" class="button" ng-class="{'button-positive':!loginBtnStatus, 'button-light':loginBtnStatus}"  ng-click="toggleLogin(false)">
        Sign Up
        </button>
      </div>
    <div  class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
</ion-header-bar>
  <ion-content>

<!--  login form -->
    <form ng-submit="doLogin()" ng-hide="!loginBtnStatus">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button id="loginBtn" class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
<!-- sign up form -->
    </form>
    <form ng-submit="doLogin()" ng-hide="loginBtnStatus">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button id="loginBtn" class="button button-block button-positive" type="submit">Sign Up</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
