/* Empty. Add your own CSS if you like */
#comments-header, #profile-header {
  background-color: #1ac7c3;
}

#item-id {
  font-size: 30px;
}

#profile-post-section {
  margin: 75px 20px 0px 20px;
}

.comment-info {
  margin-top: 10px;
}

.login-btns {
  padding-top: 5px;
}

.bar {
  background-color: #B1DFE5;
}

#loginBtn.button.button-positive, #submitBtn {
  background-color: #0E2451;
}

#name {
  margin-left: 10px;
  font-size: 20px;
}

#add-comment-button {
  background-color: #0E2451;
  margin-left: 10px;
  margin-top: 10px;
}

#comment-title {
  margin-left: 10px;
}

#avatar {
  margin: 40px 0px 40px 0px;
  text-align: center;
}

#profile-info {
  text-align: center;
  margin-top: 50px;
}

#profile-box {
  border-radius: 10px;
  margin: 20px 50px 20px 50px;
  background-color: #b1dfe5;
}

#Date {
  margin: 0px 0px 0px 60px;
}

.gradient{
    /* Rectangle 3: */
background-image: linear-gradient(-90deg, #0E605A 0%, #53A0FD 53%, #1AC7C3 100%);
}

.button.button-balanced{
    background-color: #0E2451;
}

#comment-pic {
  margin-left: 30px;
}
