/* Empty. Add your own CSS if you like */
#comments-header, #profile-header {
  background-color: #1ac7c3;
}

#item-id {
  font-size: 30px;
}

#profile-post-section {
  margin: 75px 20px 0px 20px;
}

.comment-info {
  margin-top: 10px;
}

.login-btns {
  padding-top: 5px;
}

.bar {
  background-color: #B1DFE5;
}

#loginBtn.button.button-positive {
  background-color: #0E2451;
}
